# Python package build artifacts
*.egg-info/
*.egg
build/
dist/
.coverage

# Python cache files
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/
.ruff_cache/
.mypy_cache/
.venv/
.htmlcov/

# sample output
output/**
